!!!
%html
  %head
    %title= page_title
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #wrapper
      %header
        .title Crummy
      .crumbs= render_crumbs.html_safe
      %section#main
        = yield
      %footer
        .crumbs= render_crumbs(:seperator => " | ").html_safe 
